@page "/"

@code{

    //Yoooo casinooooo

    Random random = new Random();
    int oddsNum;
    int fiftyFiftyNum;

    int balance = 15;

    string oddsNumOutcome;
    string fiftyFiftyOutcome;

    private void numberRoll() {

        balance -= 1;

        oddsNum = random.Next(1, 11);

        if (oddsNum == 10 || oddsNum == 1 || oddsNum == 5) {
            oddsNumOutcome = ("good job, you got a " + oddsNum);
            balance += 5;
        }
        else {
            oddsNumOutcome = ("soz mate, you got a " + oddsNum);
        }
    }

    private void fiftyFiftyRoll() {
        balance -= 10;

        fiftyFiftyNum = random.Next(1, 3);

        if (fiftyFiftyNum == 1) {
            fiftyFiftyOutcome = ("good job, you got a " + fiftyFiftyNum);
            balance += 20;
        }
        else {
            fiftyFiftyOutcome = ("soz mate, you got a " + fiftyFiftyNum);
        }
    }
}
<h1>Odds 1-10</h1>

<h2>Balance:</h2>
<p>$@balance</p>

<button @onclick="numberRoll">Click to roll</button>
<p>@oddsNumOutcome</p>

<h1>50/50</h1>

<button @onclick="fiftyFiftyRoll">Click to roll</button>
<p>@fiftyFiftyOutcome</p>

